.action-sec {
  flex: 0 0 18%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gainsboro;
  position: relative;
}

.action-sec > .act-det-sec {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.action-sec > .act-det-sec > section {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  margin: 0px 15px;
}

.action-sec > ul {
  flex: 0 0 60%;
  width: 100%;
  background-color:'';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.action-sec > ul > li {
  width: 60%;
  height: 60px;
  margin: 10px 0px;
  border-radius: 40px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-sec > button {
  width: 60%;
  height: 50px;
  background-color: coral;
  color: white;
  font-size: 16px;
}

.third-sec {
  flex: 0 0 18%;
  height: 100%;
  background-color: whitesmoke;
  border-left: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.third-sec > .ts-top {
  height: 10%;
  width: 100%;
  background-color: '';
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.third-sec > .ts-top > input {
  width: 70%;
  height: 40px;
  border-radius: 30px;
  padding: 0px 20px;
  background-color: white;
}

.third-sec > .ts-center {
  height: 80%;
  width: 100%;
  background-color: '';
}

.third-sec > .ts-bottom {
  height: 10%;
  width: 100%;
  background-color: '';
}

.upload-sec {
  width: 40%;
  height: 50vh;
  background-color: blanchedalmond;
  position: fixed;
  bottom: 30%;
  border-radius: 10px;
  z-index: 3;
}

.upload-sec > section {
  flex: 0 0 30%;
  width: 100%;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-sec > section > input {
  display: none;
}

.upload-sec > div {
  flex: 0 0 30%;
  width: 100%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-sec > span {
  margin: 20px 0px;
}

@media (max-width: 600px) {
  .action-sec {
    display: none;
  }
  .third-sec {
    display: none;
  }

  .upload-sec {
    width: 95%;
  }
}
