.action-sec {
  flex: 0 0 18%;
  height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #353839;
  position: relative;
}

.action-sec > .act-det-sec {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: '';
}

.action-sec > .act-det-sec > section {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #353839;
  margin-right: 10px;
}

.action-sec > ul {
  gap: 8px;
  flex: 0 0 60%;
  width: 100%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.action-sec > ul > li {
  width: 60%;
  height: 50px;
  border-radius: 20px;
  background: #353839;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-sec > ul > li > span {
  margin-left: 5px;
}

.action-sec > button {
  width: 60%;
  height: 50px;
  background-color: coral;
  color: white;
  font-size: 16px;
}

.third-sec-2 {
  flex: 0 0 18%;
  height: 100%;
}

.third-sec {
  flex: 0 0 18%;
  height: 100%;
  background-color: #1b1b1b;
  border-left: 1px solid #353839;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.third-sec > .ts-top {
  height: 10%;
  width: 100%;
  background-color: "";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.third-sec > .ts-top > input {
  width: 70%;
  height: 40px;
  border-radius: 30px;
  padding: 0px 20px;
  background-color: #353839;
}

.third-sec > .ts-center {
  height: 80%;
  width: 100%;
  background-color: "";
}

.third-sec > .ts-bottom {
  height: 10%;
  width: 100%;
  background-color: "";
}

.upload-sec {
  width: 40%;
  height: 30vh;
  margin: auto;
  background-color: blanchedalmond;
  position: fixed;
  bottom: 10%;
  border-radius: 10px;
  z-index: 3;
}

.upload-sec > section {
  flex: 0 0 30%;
  width: 100%;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-sec > section > input {
  display: none;
}

.upload-sec > section > button > label {
  color: #1b1b1b;
}

.upload-sec > div {
  flex: 0 0 30%;
  width: 100%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-sec > span {
  margin: 20px 0px;
  color: black;
}

@media (max-width: 600px) {
  .action-sec {
    display: none;
  }

  .third-sec-2 {
    display: none;
  }

  .third-sec {
    width: 100%;
    height: 100vh;
  }

  .upload-sec {
    width: 95%;
  }
}
