.music-sec {
  flex: 0 0 auto;
  width: 100%;
  min-height: 80vh;
  max-height: auto;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.music-cont {
  flex: 0 0 70px;
  width: 98%;
  margin: 3px 0px;
  overflow: hidden;
  border-radius: 10pxs;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  transition: ease-in-out 0.3s;
  user-select: none;
}

.music-cont:hover {
  opacity: 0.7;
}

.music-cont:nth-child(1) {
  margin-top: 10px;
}

.music-cont:last-child {
  margin-bottom: 100px;
}

.music-cont > section {
  flex: 0 0 15%;
  height: 90%;
  background-color: "";
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-cont-det {
  flex: 0 0 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.music-cont-det > section {
  font-size: 13px;
  color: whitesmoke;
  padding: 0px 20px;
  background-color: "";
  height: 17px;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  cursor: pointer;
  user-select: none;
  user-select: none;
}

.music-cont-det > span {
  font-size: 11px;
  color: grey;
  padding: 0px 20px;
  cursor: pointer;
  user-select: none;
  user-select: none;
}

.music-cont-actions {
  height: 100%;
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: "";
}

.my-pl-list {
  width: 45%;
  height: 60vh;
  background-color: coral;
  position: fixed;
  bottom: 20%;
  background-color: #100c08;
  border-radius: 30px;
}

.my-pl-list > ul {
  width: 100%;
  height: 100%;
  background-color: "";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.my-pl-list > ul > span {
  margin: 10px;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #1b1b1b;
  border-radius: 30px;
}

.my-pl-list > ul > li {
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353839;
  margin-top: 8px;
  border-radius: 40px;
  transition: ease-in-out 0.3s;
}

.my-pl-list > ul > li:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .music-cont {
    flex: 0 0 70px;
    width: 98%;
  }
  .music-cont-det {
    flex: 0 0 73%;
    height: 50px;
    background-color: "";
  }

  .music-cont-actions {
    flex: 0 0 7%;
  }

  .my-pl-list {
    width: 100%;
    height: 87vh;
    bottom: 13vh;
  }
}
