.music-player {
  width: 49%;
  height: 8vh;
  position: fixed;
  bottom: 0vh;
  margin: auto;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mp-song-name {
  flex: 0 0 40%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353839;
  border-radius: 30px;
  font-size: 15px;
  overflow: hidden;
  padding: 0px 10px;
}

.mp-song-name > p {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  transition: .3s ease-in-out;
}

.mp-song-name > p:hover{
  opacity: 0.5;
}

.mp-song-name > p >span{
  font-size: 14px;
  color: whitesmoke;
  opacity: .8;
}

.mini-player-controls {
  flex: 0 0 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: "";
}

.mini-player-controls > span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353839;
  border-radius: 50%;
  margin: 0px 10px;
  transition: 0.3s ease-in-out;
}

.mini-player-controls > span:hover {
  opacity: 0.6;
}

.mini-player-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #353839;
  margin-left: 10px;
  display: none;
}

.music-player-sec {
  height: 60vh;
  width: 50%;
  background-color: #353839;
  position: fixed;
  bottom: 20vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mp-sec-top {
  background-color: "";
  flex: 0 0 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mp-sec-top > div {
  width: 90%;
  flex: 0 0 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  border-radius: 20px;
  animation: mpsecAnime;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 4s;
}

.mp-sec-top > section {
  width: 88%;
  flex: 0 0 8%;
  background-color: "";
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.mp-sec-center {
  background-color: "";
  flex: 0 0 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mp-controls {
  width: 100%;
  flex: 0 0 100%;
  background-color: "";
  display: flex;
  justify-content: center;
  align-items: center;
}

.mp-controls > span {
  height: 70px;
  width: 70px;
  margin: 7px;
  border-radius: 50%;
  transition: ease-in-out 0.5s;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mp-controls > span:hover {
  opacity: 0.6;
}

.mp-sec-bottom {
  background-color: "";
  flex: 0 0 10%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mp-sec-bottom > span {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mp-sec-bottom > span:hover {
  opacity: 0.7;
}

@keyframes mpsecAnime {
  0% {
    background-color: #303030;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}

@media (max-width: 600px) {
  .music-player {
    height: 8vh;
    width: 100%;
    bottom: 6vh;
  }

  .mini-player-controls > span {
    width: 40px;
    height: 40px;
    margin: 0px 4px;
  }

  .mini-player-btn {
    width: 40px;
    height: 40px;
    margin: 0px 5px;
  }

  .music-player-sec {
    border-radius: 0px;
    top: 0px;
    width: 100%;
    height: 86vh;
  }

  .mp-sec-top {
    flex: 0 0 70%;
    background-color: #1b1b1b;
  }

  .mp-sec-center {
    flex: 0 0 20%;
    justify-content: flex-start;
    background-color: #1b1b1b;
  }

  .mp-sec-top > div {
    width: 80%;
    flex: 0 0 60%;
  }

  .mp-sec-top > section {
    font-size: 12px;
    flex: 0 0 15%;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 10px;
    margin-top: 10px;
    background-color: "";
    color: whitesmoke;
  }

  .mp-controls {
    width: 95%;
    flex: 0 0 70%;
    background-color: "";
  }

  .mp-controls > span {
    background-color: #353839;
  }

  .mp-controls > span {
    height: 50px;
    width: 50px;
  }

  .mp-sec-bottom {
    background-color: #1b1b1b;
    width: 100%;
  }

  .mp-sec-bottom > span {
    background-color: #353839;
  }
}
