.music-player {
  width: 50%;
  height: 5vh;
  position: fixed;
  bottom: 0vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .music-player {
    height: 10vh;
    width: 100%;
    bottom: 6vh;
  }
}
